body {
  box-sizing: border-box;
}

#displayed-hour {
  flex: 1 1 25%;
  font-size: 1.5em;
}

#displayed-day {
  flex: 1 1 25%;
  font-variant: small-caps;
  font-size: 1.5em;
}

#displayed-month {
  flex: 1 1 25%;
  font-variant: small-caps;
  font-size: 1.5em;
}

#displayed-year {
  flex: 1 1 25%;
  font-variant: small-caps;
  font-size: 1em;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

#title div.flag {
  margin-right: 1em;
  flex: 1 1 10%;
}

#title div.text {
  position: relative;
  top: -5px;
  font-size: 2.3em;
  flex: 1 1 90%;
}

#state {
  cursor: default;
  flex: 1 1 100%;
  margin: 0.25em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

#state div {
  text-align: center;
  vertical-align: center;
  line-height: 100%;
}

#controls {
  display: flex;
  flex: 1 1 100px;
  flex-flow: row;
  border: 1px solid black;
}

#controls div.control-group {
  flex: 1 1 50%;
} 

#controls div.control-group div.control div.label {
  display: inline;
}

#map {
  display: flex;
  flex: 1 1 50%;
  align-items: flex-end;
}

#map canvas {
  width: 450px;
}

#scale-container {
  position: relative;
  left: -80px;
  top: -30px;
  display: flex;
  flex-direction: column;
}

#scale div.low-risk-scale-label {
  color: black;
  width: 100%;
  font-variant: small-caps;
  text-align: center;
}

#scale div.high-risk-scale-label {
  color: white;
  width: 100%;
  font-variant: small-caps;
}

#scale {
  background: linear-gradient(white, black);
  height: 300px;
  width: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  border: 1px solid lightgrey;
}

#days {
    text-decoration: none;
}
